@model Onco_Chip.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChipStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChipStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BateriaPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BateriaPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaSincronizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaSincronizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressoTratamentoPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressoTratamentoPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaCelulas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaCelulas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MensagemComunicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MensagemComunicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermiteAjustarDosagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermiteAjustarDosagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermiteSolicitarExames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermiteSolicitarExames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
