@model IEnumerable<Onco_Chip.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChipStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BateriaPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaSincronizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgressoTratamentoPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespostaCelulas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MensagemComunicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermiteAjustarDosagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermiteSolicitarExames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChipStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BateriaPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaSincronizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgressoTratamentoPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespostaCelulas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MensagemComunicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermiteAjustarDosagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermiteSolicitarExames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
